@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Alkatra', cursive;
}

body {
    background-color: var(--backgroundColor);
    color: var(--color);
    overflow: hidden;
}

h1 {
    font-size: 125px;
    text-align: center;
}

#fade-element {
    position: fixed;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow-down {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 100px;
    z-index: 2;
    animation: arrow 0.5s 1s infinite ease-out alternate;
}

#arrow-down:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.left {
    position: absolute;
    height: 15px;
    width: 60px;
    left: 50%;
    bottom: 20px;

    background: var(--color);
    transform: rotate(240deg);
    border-radius: 10px;
    transform-origin: 5px 50%;
    animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
    position: absolute;
    height: 15px;
    width: 60px;
    left: 50%;
    bottom: 20px;

    background: var(--color);
    transform: rotate(-60deg);
    border-radius: 10px;
    transform-origin: 5px 50%;
    animation: rightArrow 0.5s 1s infinite ease-out alternate;
}

@keyframes arrow {
    0% {
        bottom: 0vh;
    }

    100% {
        bottom: 3vh;
    }
}


@keyframes leftArrow {
    0% {}

    100% {
        -webkit-transform: rotate(225deg);
    }
}

@keyframes rightArrow {
    0% {}

    100% {
        -webkit-transform: rotate(-45deg);
    }
}

#arrow-up {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 100px;
    z-index: 2;
    animation: arrowUp 0.5s 1s infinite ease-out alternate;
}

#arrow-up:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.leftup {
    position: absolute;
    height: 15px;
    width: 60px;
    left: 50%;

    background: var(--color);
    transform: rotate(-225deg);

    border-radius: 10px;
    transform-origin: 5px 50%;
    animation: leftArrowUp 0.5s 1s infinite ease-out alternate;
}

.rightup {
    position: absolute;
    height: 15px;
    width: 60px;
    left: 50%;

    background: var(--color);
    transform: rotate(45deg);

    border-radius: 10px;
    transform-origin: 5px 50%;
    animation: rightArrowUp 0.5s 1s infinite ease-out alternate;
}

@keyframes arrowUp {
    0% {
        top: 103vh;
    }

    100% {
        top: 106vh;
    }
}


@keyframes leftArrowUp {
    0% {transform: rotate(-240deg);}

    100% {
        
    }
}

@keyframes rightArrowUp {
    0% {transform: rotate(60deg);}

    100% {
        
    }
}

#arrow-up-low {
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 100px;
    z-index: 2;
    animation: arrowUpLow 0.5s 1s infinite ease-out alternate;
}

#arrow-up-low:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes arrowUpLow {
    0% {
        top: 203vh;
    }

    100% {
        top: 206vh;
    }
}

.roundbutton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;

    color: var(--color);
    border-color: rgb(128, 128, 128);
    background-color: var(--elementBackgroundColor);
}

.roundbutton:hover {
    cursor: pointer;
    background-color: var(--accentColor);
    color: var(--backgroundColor);
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    width: 100%;

    padding: 35px;

    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.background-video video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*
.item1 {
    grid-area: item1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.grid-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: grid;
    height: 100vh;

    grid-template-columns: 10vh 2.5fr 10vh;
    grid-template-rows: 40vh 20vh 20vh 2fr 1fr auto;

    gap: 20px;
    padding: 20px;

    grid-template-areas:
        "item1 item1 item1"
        "item2 item2 item2"
        "item3 item3 item3"
        "item4 item4 item4"
        "item5 item5 item5"
        "item6 item6 item6";

    background-color: var(--transparentBg);
}

.grid-item {
    padding: 0px;
    text-align: center;
}
*/

.menu {
    position: absolute;
    background-color: var(--transparentBg);
    width: 100vw;
    height: 100vh;
    top: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: wrap;

    color: var(--backgroundColor);
}

.menu .cards {
    position: absolute;
    width: 75%;
    height: 80%;
    top: 15%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.menu .card {
    position: relative;
    background-color: var(--color);
    width: 275px;
    height: 375px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu .card:hover {
    cursor: pointer;
}

.card:hover .button {
    cursor: pointer;
    opacity: 1;
}

.menu .image {
    height: 50%;
    border-radius: 8px 8px 0 0;
}

.menu .text {
    padding: 15px;
    display: flex;
    flex-flow: column;
}

.menu .text h2, p, button {
    font-family: 'Roboto Condensed', sans-serif;
    text-justify: distribute-all-lines;
}

.menu .text p {
    margin-top: 10px;
}

.menu .button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 8px 8px;

    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.25s ease;
}



.card .button button {
    width: 250px;
    border: none;
    color: var(--backgroundColor);
    border-color: var(--backgroundColor);
    background-color: var(--color);
    font-size: 16px;
    border-radius: 4px;
}

.intro-img {
    background-image: url(media/bluenightsky.png);
    background-size: cover;
}

.calc-img {
    background-image: url(media/math.jpg);
    background-size: cover;
}

.calculator-page {
    background-color: var(--transparentBg);
    position: absolute;
    top: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    position: relative;
    background-color: var(--elementBackgroundColor);
    border-radius: 10px;
    width: 350px;
    max-height: 600px;
}

#screen {
    max-width: 100%;
    margin-top: 15px;
    margin-left: 17px;
    margin-right: 17px;
    height: 70px;
    border: 2px solid gray;
    border-radius: 5px;
}

#calculator-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 15px;
}

#calculator-buttons button {
    max-width: 300px;
    min-width: 60px;
    height: 70px;
    border-radius: 5px;
    font-size: 20px;
    margin: 2px;
    background-color: gray;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--backgroundColor);
}

#calculator-buttons button:hover {
    background-color: var(--accentColor);
    color: var(--color);
}