@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --oxford-blue: #001036;
    --honolulu-blue: #197AC2;
    --cobalt-blue:#0047A9;
    --platinium: #CFDBD5;
    --alabaster: #E8EDDF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

#background-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: fixed;
    padding: 0;
    z-index: 5;
}

.menu button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    border-radius: 0px;
    min-height: 70px;
    min-width: 70px;
    border-style: none;
    border-width: 2px;

    margin: 0;
}


.right {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
}

.left {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu button:hover a {
    color: black;
}

.skipbg {
    display: flex;
    align-items: center;
    flex-flow: column;
}

#name {
    margin: 10px;
    padding: 10px;
    padding-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 120px;
}

h2 {
    font-size: 40px;
}

#calc-res-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc-res-title p {
    font-size: 40px;
}

#apresentacao {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    height: 100vh;
}

p {
    margin: 20px;
    text-align: justify;
}

#calculator {
    margin: 10px;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

#calculator input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    min-height: 70px;
    min-width: 70px;
    border-style: solid;
    border-width: 2px;
}

#ap-calc {
    position: absolute;
    top: 100%;
}

@media only screen and (max-width: 950px) {
    .side-side {
        display: flexbox;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }


    p {
        margin: 0;
        padding: 0;
    }



    #calculator {
        margin: 0;
        width: 100%;
    }
}
